
# GPIO $(N) -----------------------------------------------------------
record(mbbo, "$(P):GPIO$(N)ConfigSet") {
    field(DESC, "GPIO config")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1)) GPIO$(N)_CONF")
    field(ZRVL, "0")
    field(ZRST, "OutConstantLo")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "OutConstantHi")
    field(ONSV, "MINOR")
    field(TWVL, "2")
    field(TWST, "OutDuringExpLo")
    field(TWSV, "MINOR")
    field(THVL, "3")
    field(THST, "OutDuringExpHi")
    field(THSV, "MINOR")
    field(FRVL, "4")
    field(FRST, "Input")
    field(FRSV, "NO_ALARM")
    field(FVVL, "8")
    field(FVST, "OutPulsed")
    field(FVSV, "MINOR")
    field(SXVL, "10")
    field(SXST, "OutPulsedExp")
    field(SXSV, "MINOR")
    info(asyn:READBACK, "1")
}

record(mbbi, "$(P):GPIO$(N)Config") {
    field(DESC, "GPIO config")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1)) GPIO$(N)_CONF")
    field(ZRVL, "0")
    field(ZRST, "OutConstantLo")
    field(ZRSV, "MINOR")
    field(ONVL, "1")
    field(ONST, "OutConstantHi")
    field(ONSV, "MINOR")
    field(TWVL, "2")
    field(TWST, "OutDuringExpLo")
    field(TWSV, "MINOR")
    field(THVL, "3")
    field(THST, "OutDuringExpHi")
    field(THSV, "MINOR")
    field(FRVL, "4")
    field(FRST, "Input")
    field(FRSV, "NO_ALARM")
    field(FVVL, "8")
    field(FVST, "OutPulsed")
    field(FVSV, "MINOR")
    field(SXVL, "10")
    field(SXST, "OutPulsedExp")
    field(SXSV, "MINOR")
    field(SCAN, "I/O Intr")
}
#----------------------------------------------------------------------------

